<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
    <script src="/assets/application.js"></script>
    <script><%= @opal_boot_code %></script>
  </head>

  <body>
    <div id="view-container"></div>
  </body>
</html>
