html, body, h1, h2, h3, h4, p, div, li, ul, span {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  background: #eee;
}

#view-container {
  background: #fff;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
}